<Snippet>
	<Code Language="VB">
		<![CDATA[A]]>
	</Code>
	<Declarations>
		<Literal>
			<ID>Number</ID>
			<ToolTip>ADD (a,b)</ToolTip>
			<Default>ADD</Default>
		</Literal>
	</Declarations>
</Snippet>